<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <nav>
        <a href="/">Home</a>

    </nav>

    <h1>
        <%= title %>
    </h1>
    <h1>Hey Guys Let's finish this project asap</h1>

    <p>Welcome to
        <%= title %>
    </p>
</body>

</html>