body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.welcomeMessageh1 {
    text-align: center;
    border: black solid 2px;
    background-color: lightskyblue;
    margin-top: 5px;
}

.center {
    text-align: center;
}

.bodyStyle {
    background-color: lavender;
}